<h1>Issues</h1>
<div class="sidebar">
	<ul>
		<li><%= link_to "Create new project", new_project_path %></li>
		<li><%= link_to "Create new issue", new_issue_path %></li>
	</ul>
</div>
<div class="main">
	<p>Currently open projects</p><br />
	<% @projects.each do |p| %>
		<span>
			<p><%= p.name %></p>
			<%= button_to "Delete", p, :method => :delete ,:confirm => "Are you sure that you want to delete this project?"  %>
		</span>
	<% end %>
</div>