<p>
	Project: <%= @project.name %>
</p>
<p>
	Issues: 
</p>
<ul>
	<% @project.issues.each do |issue| %>
		<li>
			<%= issue.title %>
			<%= link_to "Edit", edit_issue_path, :id => issue.id %>
		</li>
	<% end %>
</ul>
<%= link_to "< Back", "/" %>