<p>
	Project: <%= @project.name %>
</p>
<p>
	Issues: 
</p>
<ul>
	<% @project.issues.each do |iss| %>
		<li>
			<%= link_to iss.title, edit_issue_path(iss) %>
			<span>
				[<a href="#">Assign</a>]
				<%= link_to "Close", :action => "close_issue", :id => iss.id %>
				<!--[<a href="#">Close</a>]-->
			</span>
		</li>
	<% end %>
</ul>
<%= link_to "< Back", "/" %>