<p>
	Project: <%= @project.name %>
</p>
<p>
	Issues: 
</p>
<ul>
	<% @project.issues.each do |iss| %>
		<li>
			<%= link_to iss.title, edit_issue_path(iss) %>
		</li>
	<% end %>
</ul>
<%= link_to "< Back", "/" %>